{% extends 'base/base.html' %}
{% block content %}

<form action="{% url 'send' %}" method="POST">
    {% csrf_token %}
    <div class="_card">
        <small >Key name</small>
        <textarea rows="3" name="key_name" id="key_name" class="_textarea form-control my-2" ></textarea>
    </div>

    <div class="_card">
        <small >key secret</small>
        <textarea rows="3" name="key_secret" id="key_secret" class="_textarea form-control my-2" ></textarea>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="_card">
                <small >Wallets</small>
                <textarea rows="20" name="wallets" id="wallets" class="_textarea form-control my-2" ></textarea>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <small >Receiver name</small>
            <input type="text" id="name" name="name" class="form-control _textarea my-2" />
            <button type="submit" class="btn _btn" >SEND</button>
        </div>
    </div>
</form>


{% endblock content %}