{% extends 'base/base.html' %}
{% block content %}
<div class="_card w-100">

    <h3 class="text-center">YOUR IP: {{ip}}</h3>
    <p class="text-center">new version send in the background task. refresh the logs page and see the magic</p>
    <table class="table table-dark text-break w-100">
        <thead>
            <tr>
              <th scope="col">fee</th>
              <th scope="col">currency</th>
              <th scope="col">transaction id</th>
              <th scope="col">destination address</th>
              <th scope="col">when_created</th>
              <th scope="col">amount</th>

              <th scope="col">ip</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{log.fee}}</td>
                <td>{{log.currency}}</td>
                <td>{{log.transaction_id}}</td>
                <td>{{log.destination_address}}</td>
                <td>{{log.when_created}}</td>
                <td>{{log.amount}}</td>
                <td>{{log.ip}}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% endblock content %}